[submodule "k8s-inception"]
	path = k8s-inception
	url = https://github.com/AhmedFatir/k8s-inception.git
	branch = main
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/AhmedFatir/jenkins.git
	branch = main
[submodule "OCI-IAC"]
	path = OCI-IAC
	url = https://github.com/AhmedFatir/OCI-IAC.git
	branch = master
